<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5" style="background-color: lightcyan;">
            <h5 class="card-title text-center mb-5 fw-light fs-5">
                Create a Flight
            </h5>
            <p style="color:red;">
                {{message}}
            </p>
            <form method="POST" action="/createFlight">
                <div class='form-row'>
                    <label>Airline Name:&nbsp;</label>
                    <input name="airline" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Flight Number:&nbsp;</label>
                    <input name="flightNum" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Departure Airport:&nbsp;</label>
                    <input name="depAirport" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Departure time:&nbsp;</label>
                    <input name="depTime" type="datetime" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Arrival Airport:&nbsp;</label>
                    <input name="arrAirport" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Arrival time:&nbsp;</label>
                    <input name="arrTime" type="datetime" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Price:&nbsp;</label>
                    <input name="price" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Status:&nbsp;</label>
                    <input name="status" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Airplane ID:&nbsp;</label>
                    <input name="airplane" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row'>
                    <input type="submit" class="submit btn btn-success" value="Create">
                </div>
            </form>
        </div>
    </div>
</div>