<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5" style="background-color: beige;">
            <h5 class="card-title text-center mb-5 fw-light fs-5">
                Sign Up as Customer
            </h5>
            <p style="color:red;">
                {{message}}
            </p>
            <form method="POST" action="/register/customer">
                <div class='form-row'>
                    <label>Email:&nbsp;</label>
                    <input name="email" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Name:&nbsp;</label>
                    <input name="name" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Password:&nbsp;</label>
                    <input name="password" type="password" style="margin-left: 3px;">
                </div>
                <label style="margin-top:10px;">Address&nbsp;</label>
                <div class='form-row' style="margin-top:10px;">
                    <label>Building Number:&nbsp;</label>
                    <input name="buildingnum" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Street:&nbsp;</label>
                    <input name="street" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>City:&nbsp;</label>
                    <input name="city" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>State:&nbsp;</label>
                    <input name="state" type="text" style="margin-left: 3px;">
                </div>
                <label style="margin-top:10px;">Other Info&nbsp;</label>
                <div class='form-row' style="margin-top:10px;">
                    <label>Phone Number:&nbsp;</label>
                    <input name="phone" type="number" min="0" max="99999999999" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Passport Number:&nbsp;</label>
                    <input name="passportnum" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Passport Expiration: (YYYY-MM-DD)&nbsp;</label>
                    <input name="exp" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Passport Country&nbsp;</label>
                    <input name="passportcountry" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row' style="margin-top:10px;">
                    <label>Date of Birth: (YYYY-MM-DD)&nbsp;</label>
                    <input name="dob" type="text" style="margin-left: 3px;">
                </div>
                <div class='form-row'>
                    <input type="submit" class="submit btn btn-success" value="Register">
                </div>
                <div class='form-row'>
                    Already have an account?&nbsp;
                    <a href="/login">Login</a>
                    .
                </div>
            </form>
        </div>
    </div>
</div>
