{{#if user}}
    <p>
        Hi {{user}}. Welcome to ATRS!
    </p>
{{else}}
    <div class="lr">
        <a href="/login">Login</a> or <a href="/register">Register</a>
    </div>
{{/if}}
<div class="flights">
    {{> search_flights }}
</div>
