{{#if user}}
    <p>
        Hi {{user}}. Welcome to ATRS!
    </p>
{{else}}
    <div class="lr">
        <a href="/login">Login</a> or <a href="/register">Register</a>
    </div>
{{/if}}
<div class="flights">
    <h3 class="fw-bold text-success text-center" style="margin-top: 30px;"> Flights </h3>
    <form action="/" method="GET" style="margin-bottom: 2%;">
        <label>Search: </label>
        <input name="search" type="text">
        <input class="btn btn-outline-success" style="margin-top: 5px;" type="submit" value="submit">
    </form>
    {{#if flights}}
        <form action="/">
            <table class="table table-striped diytable">
                <tr>
                    <th scope="col">Airline</th>
                    <th scope="col">Flight Number</th>
                    <th scope="col">Departure Airport</th>
                    <th scope="col">Destination Airport</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Purchase</th>
                </tr>
            {{/each}}
        </table>
    {{else}}
        <p style="color:red;">No flight</p>
    {{/if}}
</div>
