body {
    background-color: rgb(213, 248, 226);
}

h1, h2 {
    text-align: center;
    color: darkgreen;
}

#ft {
    margin: auto;
    position:fixed;
    right: 50px;
}

form {
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.submit {

    padding: 5px;
    margin: 20px 80px 10px 80px;
}

.lr {
    text-align: center;
}

h3, p {
    text-align: center;
}

.container {
    width: 25%;
}

.center {
    margin: auto;
    width: 30%;
    padding: 10px;
}

.div-margins {
    margin-top: 2%;
    margin-bottom: 3%;
}

.diytable {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.month-chart {
    position: absolute;
    left:10%;
}

.bar {
    background-color:green;
    transform: scaleX(0.1);
}

.admin-buttons {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.admin-btn {
    margin-right: 10%;
}
